<div class="container">
  <h1>Identification</h1>

  <%= form_tag '/sessions' do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Login" %>
    </div>
  <% end %>
  
  <p>Pas encore inscrit ? <%= link_to "S'inscrire !", new_user_path %></p>
</div>