<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <div class="container">
 	<h1 class="mb-3">Bienvenue sur the Gossip Project <%= @first_name %></h1>

	 <button class="btn btn-primary btn-lg  mb-5"><a class="text-white" href="<%= new_gossip_path %>">Creer un nouveau gossip</a></button>

    <% @gossips.sort_by{|gossip| gossip.id}.each do |g| %>
			<div class="col-md-3">
  			<div class="card mb-3" style="width: 18rem;">
	  			<div class="card-body">
        		<h5 class="card-title"><a href="<%= gossip_path(g.id) %>"><%= g.title %></a></h5>
  				</div>
  	  		<div class="card-footer"><%= g.user.first_name %></div>
  			</div>
			</div>
  	<%end%>
</div>
</body>
</html>